/*SUI框架小图标样式开始
该文件下第94行结束
第87行开始为自定义CSS，可自行修改*/
.grid-demo .row {
  text-align: center;
}
.grid-demo .row + .row {
  margin-top: 0.75rem;
}
.grid-demo .row > [class*=col-] {
  border: 1px solid #ddd;
}
.icons-demo .icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1.25rem;
  display: inline-block;
}
.icon.icon-f7 {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-f7.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-f7.png*/;
}
.icon.icon-form-name {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-name.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-name.png*/;
}
.icon.icon-form-password {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-password.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-password.png*/;
}
.icon.icon-form-email {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-email.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-email.png*/;
}
.icon.icon-form-calendar {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-calendar.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-calendar.png*/;
}
.icon.icon-form-tel {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-tel.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-tel.png*/;
}
.icon.icon-form-gender {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-gender.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-gender.png*/;
}
.icon.icon-form-toggle {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-toggle.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-toggle.png*/;
}
.icon.icon-form-comment {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-comment.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-comment.png*/;
}
.icon.icon-form-settings {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-settings.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-settings.png*/;
}
.icon.icon-form-url {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url("i-form-url.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-form-url.png*/;
}
.list-block .item-link .item-inner {
  padding-right: 1.5rem;
  background-image: url("i-list-chevron-right.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/i-list-chevron-right.png*/;
}
.icon.icon-success {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("success.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/success.png*/;
}
.icon.icon-failure {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("failure.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/failure.png*/;
}
.icon.left {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("left.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/left.png*/;
  background-repeat: no-repeat;
}
.icon.more {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("more.png")/*tpa=http://129.211.173.86/finance_proj/html/wcc/img/more.png*/;
  background-repeat: no-repeat;
}
/*SUI框架小图标样式结束*/


/*自定义CSS，可自行修改*/

.page, .page-group {
	background: #ffffff;
}

.list-block {
    margin: 0 0;
    font-size: 14px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 0px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
/*.file:hover {
    background: #eee;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}*/

.new-content-block {
	margin: 0px 0px;
	padding: 0px 0px; 
	color: #a8abb0; 
	text-align: center;
}

.new-search-row {
	margin: auto auto 10px auto;
	height: auto;
	text-align: center;
}

.new-search-input {
	width: 225px; 
	display: inline-block;
}

/*字体蓝色*/
.new-color-blue {
	color: #42acef;
}

.new-text-center {
	text-align: center;
}

.new-card-demo-card-header-pic-credit_card_detail {
	margin:10px 0 0 0;
}

.btn-verifi {
  width: 100%; 
  height: 20px; 
  background-color: #ff3000; 
  border: 0; 
  border-radius: 15px; 
  color: #fff; 
  font-size: 12px; 
  margin-top: 12px;
}
.btn-verifi.on {
  background-color: #eee;
  color: #ccc;
  cursor: not-allowed;
}

.infinite-scroll-preloader {
  margin-top: -20px;
}

/*MUI start*/
input[type=search] {
    background-color: #ffffff;
    padding: 0;
}

.mui-input-range input[type=range] {
    background-color: #eeeeee;
}

.mui-popup-inner {
  background: #eeeeee;
}

.mui-popup-button {
  background: #eeeeee;
}
/*MUI end*/



